/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le corps de la page */
body {
    font-family: 'popstarpop', sans-serif; /* Nouvelle police de caractères */
    background-image: url('/static/cp2.png'); /* Ajout de l'image de fond */
    background-size: cover;
    color: #fff; /* Texte blanc */
    display: flex;
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer horizontalement */
    height: 100vh; /* Pleine hauteur de la fenêtre */
    margin: 0; /* Annuler les marges par défaut du body */
    padding: 0; /* Annuler les rembourrages par défaut du body */
}


/* Barre de navigation */
nav {
    background-color: #EC297B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'popstarpop', sans-serif;
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex; /* Utilisez flexbox pour un meilleur contrôle de l'alignement */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}


.navbar-logo {
    max-height: 70px; /* Fixe la hauteur maximale du logo */
    width: auto; /* Assure que la largeur du logo s'adapte pour maintenir les proportions */
    position: absolute; /* Position absolue pour le centrage */
    left: 50%; /* Aligner le logo à 50% de la largeur de son conteneur parent */
    transform: translateX(-50%); /* Déplacer le logo de moitié de sa propre largeur vers la gauche */
    top: 0; /* Aligner le logo en haut de son conteneur parent */
    transition: text-shadow 0.3s;
}

.navbar-logo:hover {
    text-shadow: 30px 30px 60px rgba(0, 0, 0, 0.9); /* Modification de l'ombre portée au survol */
    cursor: pointer; /* Changement de curseur au survol */
}


.image-left {
    max-height: 70px; /* Fixe la hauteur maximale de l'image */
    width: auto; /* Assure que la largeur de l'image s'adapte pour maintenir les proportions */

}


.cadre {
    position: absolute; /* Position absolue */
    top: 100px; /* Hauteur de la barre de navigation */

    width: 90%;
    height: 50%;
    border: 7px solid #000;
    border-radius: 5px;

}

.cadre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fc78f7;
    opacity: 0.75; /* Opacité de l'image de fond */
    z-index: -1; /* Assure que le pseudo-élément est placé en dessous du contenu */
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: -10; /* Ajuster la marge vers le haut selon vos besoins */
}

.logo {
    opacity: 0; /* Initialement invisible */
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.9);
    animation: fadeIn 5s ease forwards;
    transition: text-shadow 0.3s;
    max-width: 100%; /* Pour que le logo ne dépasse pas la taille du cadre */
    max-height: 100%; /* Pour que le logo ne dépasse pas la taille du cadre */
    margin-top: -250px; /* Ajuster la marge vers le haut selon vos besoins */
    margin-left: 50px; /* Ajuster la marge vers la gauche selon vos besoins */
}


/* Animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0; /* Commence avec une opacité de 0 */
    }
    to {
        opacity: 1; /* Termine avec une opacité de 1 */
    }
}

/* Styles pour le titre sur les petits écrans */
@media only screen and (max-width: 768px) {
    .titre {
        font-size: 100px; /* Taille du titre réduite pour les petits écrans */
        margin-top: 100px; /* Espacement réduit par rapport à la barre de navigation */
        margin-bottom: 10px; /* Espacement réduit par rapport au menu */
    }
}

.menu {
    list-style-type: none;
    display: flex; /* Pousser le menu vers la droite */
    margin-right: 20px;
}

.menu li {;
    padding: 0 5px; /* Espacement autour de chaque élément du menu */
    border: 2px solid #ffffff; /* Bordure autour de chaque élément */
    border-radius: 5px; /* Coins arrondis */
    display: inline-block; /* Afficher en ligne pour que les éléments ne soient pas empilés */
    background-color: transparent; /* Couleur de fond */
    color: #333; /* Couleur du texte */
    text-decoration: none; /* Supprime les soulignements par défaut */
    cursor: pointer;
    margin-right: 20px; /* Curseur indiquant qu'il s'agit d'un élément cliquable */ /* Espacement entre les éléments du menu */
}

.menu li a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    transition: text-shadow 0.3s;

}

.menu li a:hover {
    text-shadow: 30px 30px 60px rgba(0, 0, 0, 0.9); /* Modification de l'ombre portée au survol */
    cursor: pointer; /* Changement de curseur au survol */
}

/* Barre de navigation pour les petits écrans */
@media only screen and (max-width: 768px) {
    .menu {
        display: none; /* Cacher le menu par défaut */
        position: absolute; /* Position absolue pour se superposer sur le contenu */
        top: 100%; /* Aligner le menu en bas de la barre de navigation */
        left: 0; /* Aligner le menu à gauche */
        background-color: rgb(243, 98, 178); /* Couleur de fond du menu */
        width: 100%; /* Largeur du menu égale à celle de la barre de navigation */
        padding: 10px 0; /* Espacement intérieur réduit */
        text-align: center; /* Centrer le texte */
    }

    .menu li {
        background-color: white;
        background-size: cover;
        display: block; /* Afficher les éléments du menu en bloc */
        margin: 10px 0; /* Espacement entre les éléments du menu */
    }

    .menu-toggle {
        display: block; /* Afficher le bouton du menu */
    }
}

/* Styles pour le footer */
footer {
    font-family: 'Montserrat', sans-serif /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
    width: 100%; /* Largeur du footer */
    position: fixed; /* Position fixe pour rester en bas de la fenêtre */
    bottom: 0; /* Aligner le footer en bas */
    z-index: 999; /* S'assurer que le footer est au-dessus de tout le contenu */
    background: #EC297B;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer p {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.h2 {
    align-items: center;
    margin-top: 20PX;
    animation: bounce 2s infinite;
    color: #ff0002;
    font-size: 30px;
    margin-left: 30%;
}

/* Styles pour le conteneur welcome */
.welcome {
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Aligner les éléments verticalement */
    justify-content: center; /* Centrer horizontalement */
    margin: 0; /* Supprimer les marges */
}

.welcome p {
    font-family: 'Nouveau IBM Stretch', sans-serif; /* Nouvelle police de caractères */
    font-size: 30px; /* Taille du texte */
    color: #fff; /* Couleur du texte */
    margin: 0 50px; /* Ajuster les marges horizontales */
    animation: fadeIn 6s ease forwards;
    overflow-wrap: break-word; /* Permettre le passage à la ligne */
}


.cadre2 {
    position: fixed;
    bottom: 50px;
    left: 90px;
    width: 40%;
    height: 30%;
    border: 7px solid #000; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Aligner les éléments verticalement */
    justify-content: center; /* Centrer horizontalement */
}

.cadre2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fc78f7;
    opacity: 0.75; /* Opacité de l'image de fond */
    z-index: -1; /* Assure que le pseudo-élément est placé en dessous du contenu */
}

.cadre3 {
    position: fixed;
    bottom: 50px;
    left: 900px;
    width: 40%;
    height: 30%;
    border: 7px solid #000; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Aligner les éléments verticalement */
    justify-content: center; /* Centrer horizontalement */
}

.cadre3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fc78f7;
    opacity: 0.75; /* Opacité de l'image de fond */
    z-index: -1; /* Assure que le pseudo-élément est placé en dessous du contenu */
}


.wrapper,
.card {
    height: 750px;
    max-width: 450px;
}

.card:nth-child(4) {
    margin-right: 0; /* Supprimer la marge droite pour la quatrième carte */
}

.wrapper {
    perspective: 900px;
    display: flex;
    justify-content: center; /* Centrer horizontalement les cartes */
    width: 80%; /* Ajustez la largeur selon vos besoins */
}

.card1,
.card2,
.card3,
.card4 {
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
    margin-right: 80px;
}

.wrapper:hover .card1,
.wrapper:hover .card2,
.wrapper:hover .card3,
.wrapper:hover .card4 {
    transform: rotateY(180deg);
}

.front,
.back {
    border-radius: 20px;
    width: 450px;
    position: relative;
    top: 0;
    backface-visibility: hidden;
}

.front {
    cursor: pointer;
    height: 100%;
    background-image: url("cards.png");
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
}

.back {
    width: 450px; /* Définir la même largeur que la face avant */
    height: 750px; /* Définir la même hauteur que la face avant */
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card:nth-child(4) {
    margin-right: 0; /* Supprimer la marge droite pour la quatrième carte */
}

/* Styles pour la première carte arrière */
.back1 {
    background-image: url("Noah.png");
    background-size: cover;
}

/* Styles pour la deuxième carte arrière */
.back2 {
    background-image: url("abdu.png");
    background-size: cover;
}

/* Styles pour la troisième carte arrière */
.back3 {
    background-image: url("houari.png");
    background-size: cover; /* Remplacez "back3.jpg" par le chemin de votre troisième image de fond */
}

/* Styles pour la quatrième carte arrière */
.back4 {
    background-image: url("guigui.png");
    background-size: cover; /* Remplacez "back4.jpg" par le chemin de votre quatrième image de fond */
}


form {
    margin: 50px auto;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #fa55f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6bfa55;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 0px;
    margin-bottom: 500px;
    position: relative; /* Ajout de la position relative */
    z-index: 0; /* Assure que la table est au-dessus des autres éléments */
}

table th, table td {
    border: 2px solid #fa55f5;
}


.mp3-player {
    position: relative;
    width: 640px; /* Largeur de l'image de fond */
    height: 360px; /* Hauteur de l'image de fond */
}

.music-info {
    position: absolute;
    padding-left: 120px;
    top: 130px; /* Position verticale de la zone de texte - ajustez ce chiffre */
    left: 180px; /* Position horizontale de la zone de texte - ajustez ce chiffre */
    width: 400px; /* Largeur de l'écran de l'image */
    height: 100px; /* Hauteur de l'écran de l'image */
    overflow: hidden;
    white-space: nowrap;
    background-image: url('/deco/your-overlay.png'); /* Assurez-vous que le chemin est correct */
    background-repeat: no-repeat;
    background-size: cover; /* 'cover' ou 'contain' ou dimension spécifique */
    line-height: 50px; /* Hauteur de la ligne pour centrer le texte verticalement */
    z-index: 2;
}

#scrolling-text {
    display: inline-block;
    color: antiquewhite;
    font-size: larger;
    position: relative;
    will-change: transform;
    animation: scrollText 9s linear infinite; /* Enlevé 'paused' pour que l'animation démarre */
    z-index: 2;

}

.music-info::before, .music-info::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px; /* Largeur des dégradés - ajustez en fonction de la taille de votre zone de défilement */
    z-index: 2;
}

.music-info::before {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.music-info::after {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

@keyframes scrollText {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

#play-button, #pause-button {
    position: absolute;
    top: 135px; /* Ajustez cette valeur pour positionner verticalement */
    left: 60px; /* Ajustez cette valeur pour positionner horizontalement */
    width: 20x; /* Ajustez la taille du bouton si nécessaire */
    height: 90px; /* Assurez-vous que la hauteur correspond à la taille de l'image */
    cursor: pointer; /* Change le curseur au survol */
    z-index: 5; /* Assurez-vous que les boutons sont au-dessus des autres éléments */
}

.container {
    position: relative;
    width: 640px; /* Ajustez à la largeur de votre image de fond si différente */
    height: 360px; /* Ajustez à la hauteur de votre image de fond si différente */
}

.background-image, .overlay-image {
    display: block; /* Elimine l'espace en bas des images inline */
    width: 100%;
    height: auto;
    z-index: 3;

}

.overlay-image {
    position: absolute;
    top: 0; /* Ajustez si vous souhaitez déplacer le calque */
    left: 0; /* Ajustez si vous souhaitez déplacer le calque */
    z-index: 3; /* Assure que le calque est au-dessus du fond */
}
