<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio de Abdullah</title>
  <link rel="stylesheet" href="/static/styleabdu.css">
</head>


<body>
<nav>
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/about">About</a></li>
            <li> <a href="/noah">noah</a></li>
            <li> <a href="/abdullah">abdullah</a></li>


        </ul>
    </nav>

  <header>
    <h1>Portfolio de Abdullah</h1>
  </header>

  <section id="about">
    <h2>À propos de moi</h2>
    <div class="profile-info">
      <div class="profile-picture">
        <img src="/static/profile_picture.jpeg" alt="Photo de Abdullah">
      </div>
      <div class="profile-text">
        <p>Bienvenue sur mon portfolio ! Je suis passionné par l'informatique et la robotique.</p>
      </div>
    </div>
  </section>

  <section id="contact">
    <h2>Contactez-moi</h2>
    <p>Vous pouvez me contacter à l'adresse email suivante : abdullah.camur@student.uclouvain.be</p>
  </section>

  <footer>
    <p>&copy; 2024 Abdullah - Portfolio</p>
  </footer>

</body>
</html>
