<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.cdnfonts.com/css/popstarregular');
    </style>
    <style>
    @import url('https://fonts.cdnfonts.com/css/yagiza');
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <style>
        @import url('https://fonts.cdnfonts.com/css/greenland');
    </style>
    <script src="https://kit.fontawesome.com/3747c4eab5.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house-user" style="color: #6b3df5;"></i></a></li>
            <li><a href="/stats"><i class="fa-solid fa-signal" style="color: #63E6BE;"></i> </a></li>
             <li><a href="/request"><i class="fa-solid fa-map-pin" style="color: #FFD43B;"></i> </a></li>
        </ul>
    </nav>

<div class="wrapper">
    <div class="card1">
         <div class="front"></div>
        <div class="back back1"></div> <!-- Utilisez la classe "back1" pour la première carte -->
    </div>

    <div class="card2">
        <div class="front"></div>
        <div class="back back2"></div> <!-- Utilisez la classe "back2" pour la deuxième carte -->
    </div>

    <div class="card3">

        <div class="front"></div>
        <div class="back back3"></div> <!-- Utilisez la classe "back3" pour la troisième carte -->
    </div>

    <div class="card4">
        <div class="front"></div>
        <div class="back back4"></div> <!-- Utilisez la classe "back4" pour la quatrième carte -->
    </div>

</div>
<div class="text-title-about">
    <h1> TEAM WAY-BE</h1>
</div>
<div class="text-about">
    <p>


        Entrez dans notre équipe de développeurs chez Way-Be et
        vous vous retrouverez dans un tourbillon de créativité et
        de folie, prêts à défier les lois de la mobilité et du temps
        comme si c'était le Y2K qui frappait à la porte.

    Nos cerveaux bouillonnent avec autant d'idées que de lignes de code,
        et parfois, on ne sait pas si on est en 2024 ou si on a été transportés
        à l'époque du bug de l'an 2000. Mais peu importe l'année, nous sommes là
        pour vous offrir une expérience mobile qui dépasse toutes vos attentes.

    C'est comme si nos claviers étaient des DeLorean, nous emmenant dans le futur de
        la mobilité à la vitesse de la lumière. Et lorsque nous rencontrons un bug,
        c'est comme si nous étions coincés dans une boucle temporelle, essayant de résoudre
        un problème qui aurait pu être résolu avant même que le monde n'ait entendu parler de l'iPhone.

    Mais ne vous inquiétez pas, chez Way-Be, nous sommes plus qu'une équipe de développeurs - nous sommes
        des aventuriers du futur de la mobilité, prêts à affronter tous les défis, que ce soit dans le présent,
        le passé ou même le Y2K. Accrochez-vous, car nous sommes sur le point de faire un bond dans le temps que même
        Marty McFly envierait.
    </p>
</div>
<div class="pokemon">
</div>
<footer>
    <p>© 2024 Groupe C02. Tous droits réservés</p>
</footer>
</body>

</html>
