<!-- page de l'équipe -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Main page</a></li>
            <li> <a href="/sa">statistique </a></li>
            <li> <a href="/abdullah">abdullah</a></li>


        </ul>
    </nav>

    <div class="funky-container">
        <p class="funky-base">Groove</p>
        <p class="funky-letter fl-1">Groove</p>
        <p class="funky-letter fl-2">Groove</p>
        <p class="funky-letter fl-3">Groove</p>
        <p class="funky-letter fl-4">Groove</p>
        <p class="funky-letter fl-5">Groove</p>
        <p class="funky-letter fl-6">Groove</p>
        <p class="funky-letter fl-7">Groove</p>
    </div>
</body>
</html>