<!DOCTYPE html>
<html lang="en">
{% block head  %}
    <meta charset="UTF-8">
    <!-- Inclusion de la feuille de style -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Importation de la police de caractères yagiza -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/yagiza');
    </style>
    <!-- Importation de la police de caractères nouveau-ibm -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/nouveau-ibm');
    </style>
    <!-- Importation de la police de caractères popstarregular -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/popstarregular');
    </style>
    <!-- Définition de l'icône de raccourci -->
    <link rel="shortcut icon" href="/static/favicon.ico">
{% endblock   %}
{% block body %}
{% endblock  %}

{% block footer  %}
    <!-- Footer -->
    <footer>
        <!-- Texte de copyright -->
        <p>© 2024 Groupe C02. Tous droits réservés</p>
    </footer>
</html>
{% endblock   %}