{% block head %}
<!DOCTYPE html>
<html lang="en">
 <head>

         <!-- Barre de navigation -->
    <nav>
        <!-- Image à gauche de la barre de navigation -->
        <a href="game">
            <img src="/static/stars.png" alt="Image" class="image-left">
            <li><a href="/game">Game</a></li>
        </a>
        <!-- Logo -->
        <a href="/"> <img src="/static/titre.png" alt="Logo" class="navbar-logo"></a>
        <!-- Conteneur du menu -->
        <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
                <li><a href="/request">Request</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">Team</a></li>
                <li><a href="/moon">Moon</a></li>

            </ul>
        </div>
    </nav>

    <meta charset="UTF-8">
    <!-- Inclusion de la feuille de style -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Importation de la police de caractères yagiza -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/yagiza');
    </style>
    <!-- Importation de la police de caractères nouveau-ibm -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/nouveau-ibm');
    </style>
    <!-- Importation de la police de caractères popstarregular -->
    <style>
        @import url('https://fonts.cdnfonts.com/css/popstarregular');
    </style>
    <!-- Définition de l'icône de raccourci -->
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
{% endblock %}

{% block body %}
<body>
</body>
{% endblock %}

{% block footerer %}
    <!-- Footer -->
    <footer>
        <!-- Texte de copyright -->
        <p>© 2024 Groupe C02. Tous droits réservés</p>
    </footer>
    </html>
{% endblock %}
