<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAY-BE</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
    @import url('https://fonts.cdnfonts.com/css/yagiza');
    </style>
    <style>
        @import url('https://fonts.cdnfonts.com/css/nouveau-ibm');
    </style>
    <style>
        @import url('https://fonts.cdnfonts.com/css/popstarregular');
    </style>

    <link rel="shortcut icon" href="/static/favicon.ico"/>

</head>
<body >


<nav>
    <img src="/static/heart.png" alt="Image" class="image-left">
    <a href="/"> <img src="/static/titre.png" alt="Logo" class="navbar-logo"></a>
    <div class="menu-container">
        <ul class="menu">
            <li><a href="/request">Request</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/about">Team</a></li>
        </ul>
    </div>
</nav>

<div class="cadre">
    <div class="logo">
        <div class="titre" >
            WAY-BE
        </div>
    </div>

    <div class="h2">
        <H2> ⚠️ Accès anticipé ⚠️ </H2>
    </div>
</div>
<div class="cadre2">
   <div class="welcome">

       <p >
            WAY-BE se métamorphose à la vitesse de l'éclair, façonnant une expérience
           en ligne fluide et éblouissante, bientôt disponible sur tous vos appareils !
       </p>
   </div>
</div>


    <audio     id="music" src="/static/tk.mp3"></audio>
   <script>
       document.addEventListener("DOMContentLoaded", function() {
    var audio = document.getElementById("music");
    var title = document.querySelector(".titre");

    title.addEventListener("click", function() {
        if (audio.paused) {
            audio.play();
        } else {
            audio.pause();
        }
        });
       });


   </script>
<footer>

    <p>© 2024 Groupe C02. Tous droits réservés</p>
</footer>
</body>


</html>
