{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<body>

    <h1>Choisissez une ville pour le thème du jeu  :</h1>

    <!-- Formulaire -->
    <form id="myForm" action="/chosegame" method="POST">
        <!-- Label pour la sélection de la ville -->
        <label for="ville">Ville:</label>
        <!-- Sélecteur de ville -->
        <select id="ville" name="ville">
            <!-- Option par défaut -->
            <option value="None" selected>Choisir une ville</option>
            <!-- Options pour les différentes villes -->
            {% for item in ville %}
                <option>{{ item[0] }}</option>
            {% endfor %}
        </select>
        <!-- Bouton de soumission -->
        <input type="submit" value="Valider">
    </form>

</body>
{% endblock %}

{% block footer %}
{% endblock %}
