{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block body %}
    <nav>
        <!-- Image à gauche de la barre de navigation -->
        <a href="game">
            <img src="/static/stars.png" alt="Image" class="image-left">
            <div class="game">
                <a href="/chosegame">Game</a>
            </div>
        </a>
        <!-- Logo -->
        <a href="/"> <img src="/static/titre.png" alt="Logo" class="navbar-logo"></a>
        <!-- Conteneur du menu -->
        <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
                <li><a href="/request">Request</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">Team</a></li>
                <li><a href="/chosemoon">Moon</a></li>

            </ul>
        </div>
    </nav>
<body class="moon-page">
<div class="form-container">
        <form id="rueForm" action="/chosemoon" method="POST">


            <!-- Label et champs pour les dates -->
            <div>
                <label for="start_date">Date de la moon :</label>
                <input type="date" id="start_date" name="start_date" required>
                <br>
            </div>

            <!-- Bouton de soumission -->
            <input type="submit" value="Valider">
        </form>


    </div>

</body>
{% endblock %}

{% block footer %}
{% endblock %}