{% extends "base.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cards.css">
</head>
{% endblock %}

{% block body %}
<body>

         <!-- Barre de navigation -->
    <nav>
        <!-- Image Ã  gauche de la barre de navigation -->
        <a href="/chosegame">
            <img src="/static/stars.png" alt="Image" class="image-left">
        </a>
        <!-- Logo -->
        <a href="/"> <img src="/static/titre.png" alt="Logo" class="navbar-logo"></a>
        <!-- Conteneur du menu -->
        <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
                <li><a href="/request">Request</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/about">Team</a></li>
                <li><a href="/moon">Moon</a></li>

            </ul>
        </div>
    </nav>

<script>
    var chosenCity = "{{ ville }}";
</script>

<h2>
    {% for item in ville %}
    {{ item }}
    {% endfor %}
</h2>
<br>
<h2>Erreur : <span id="errors">0</span></h2>
<br>
<div id="board">
    <script src="static/cards.js"></script>
</div>
</body>
{% endblock %}

{% block footer %}
{% endblock %}