{% extends "base.html" %}
 {% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cards.css">
</head>
 {% endblock   %}
{% block body %}
<body>
    <script src="static/cards.js"></script>
    <h2>{nom_de_la_ville}</h2>
    <h2>Erreur : <span id="errors">0</span></h2>
    <div id="board">
        <!-- Le contenu du jeu sera probablement injecté ici via JavaScript -->
    </div>
</body>
 {% endblock   %}
{% block footer  %}
{% endblock  %}
