{% extends "base.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cards.css">
</head>
{% endblock %}

{% block body %}
<body>
    <h2>
        {% for item in ville %}
            {{ item }}
        {% endfor %}
    </h2>
    <br>
    <h2>Erreur : <span id="errors">0</span></h2>
    <br>
    <div id="board">
        <script src="static/cards.js"></script>
    </div>
</body>
{% endblock %}

{% block footer %}
{% endblock %}
