{% extends "base.html" %}
{% block header  %}
    <link rel="stylesheet" href="static/style.css">
{% endblock   %}
{% block body %}

<body>
    <h1>Phase de la Lune</h1>
    <p>Âge de la lune : {{ age_lune }} jours</p>
    <p>Phase actuelle : {{ moon_phase }}</p>
    <!-- Affichage de l'image de la phase de la lune -->
    <img src="{{ url_for('static', filename='images/' + moon_image) }}" alt="Phase de la Lune">

    <div class="cadre2">
         <div class="nbr_rue-container">
        <!-- Deuxième partie de la statistique -->
        <div class="nbr_rue">
            <ul>
                <!-- Affichage des données -->
                <td> velos moyenne jours de pleine lune  :{{ sump}}</td>

            </ul>
        </div>
         </div>
        <div class="cadre3">
     <div class="nbr_rue-container2">
        <!-- Troisième partie de la statistique -->
       <div class="nbr_rue">

            <ul>
                <!-- Affichage des données -->
                <td> velos moyenne jours normal  :{{ smur}}</td>

            </ul>
        </div>
         </div>
</body>

{% endblock  %}
{% block footer  %}
{% endblock   %}