{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}

    <!-- Formulaire et liste de sélection dans une div -->
    <div class="form-container">
        <form id="rueForm" action="/nextrequest" method="POST">
            <!-- Label pour la sélection de la rue -->
            <label for="rue">Rue:</label>
            <!-- Sélecteur de ville -->
            <select id="rue" name="rue">
                <!-- Option par défaut -->
                <option value="None" selected>Choisir la rue</option>
                <!-- Options pour les différentes villes -->
                {% for item in rue %}
                    <option>{{ item[0] }}</option>
                {% endfor %}
            </select>

            <!-- Label et champs pour les dates -->
            <div>
                <label for="start_date">Date de début :</label>
                <input type="date" id="start_date" name="start_date" required>
                <br>

                <label for="end_date">Date de fin :</label>
                <input type="date" id="end_date" name="end_date" required>
                <br>

                <label for="heure_debut">Choisissez une heure de début :</label>
                <input type="time" id="heure_debut" name="heure_debut">
                <br>

                <label for="heure_fin">Choisissez une heure de fin :</label>
                <input type="time" id="heure_fin" name="heure_fin">
                <br>
            </div>

            <!-- Bouton de soumission -->
            <input type="submit" value="Valider">
        </form>

        <!-- Liste des rues dans une div -->
        <div class="street-list">
            <ul>
                {% for item in ville_request %}
                     {{ item }}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
