{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}

    <form id="rueForm" action="/nextrequest" method="POST">
        <!-- Label pour la sélection de la rue -->
        <label for="rue">Rue:</label>
        <!-- Sélecteur de ville -->
        <select id="rue" name="rue">
            <!-- Option par défaut -->
            <option value="None" selected>Choisir la rue</option>
            <!-- Options pour les différentes villes -->
            <ul>
            {% for item in rue %}
                <option>{{ item[0] }}</option>
            {% endfor %}
            </ul>
        </select>
    <input type="submit" value="Valider">
    </form>


     <div class="cadre2">
     <div class="nbr_rue">
        <ul>
            {% for item in ville_request %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
     </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}