<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>NOah</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="/static/stylesheet_noah.css">

    </head>

    <body>

        <nav>


           <ul>

            <li><a href="/">Main page</a></li>
            <li><a href="/about">About</a></li>
            <li> <a href="/noah">noah</a></li>
            <li> <a href="/abdullah">abdullah</a></li>
           </ul>

            <div class="profile">
                <a href="../static/profile.jpg">
                    <img src="../static/profile.jpg" alt="profile photo">
                </a>
                <a href="https://www.instagram.com/nlk_noah/">
                <h1>NOAH MOUSSAOUI</h1>
                </a>
            </div>
        </nav>

        <section class="page-content">

            <header>

                <h2>
                    Bonjour, je m'appelle Noah Moussaoui voici mon portefolio réalisé en 2022..
                </h2>

                <p>
                    je suis étudiant en computer science à L'Uclouvain à Charleroi.
                </p>

            </header>



            <section class="projets-section">
                <h1>
                    Projets réalisés.
                </h1>

                <div class="projects">

                    <div class="projet">

                        <div class="Back-end-chez-Médiamarkt">

                            <h4>
                                Back-end chez Médiamarkt.
                            </h4>


                        <p class="description">
                            Je déballais les cartons des nouvelles arrivées et encodais les produits dans le système. Ensuite je sécurisais   les produits avant de les envoyer en magasin .
                        </p>

                        <p class="dates">Du 3 Juillet 2021 au 17 Juillet 2021 et  du 5 Août au  11 Juillet 2021.</p>

                        </div>

                     </div>

                    <div class="projet">

                            <div class="création-d-un-portefolio">

                                    <h4> Création d'un portefolio.</h4>


                                <p class="description"> j'ai crée un portefolio pour avoir de l originalité professionelle pour mes candidatures à des postes de travail et pour m entrîner dans le codage informatique qui est l'une de mes passions.
                                </p>

                                <p class="dates">Le 1 juillet 2022.</p>
                            </div>
                       </div>
                    <div class="projet">

                            <div class="Betag">

                                    <h4> Betag projet 2023 .</h4>


                                <p class="description">
                                    on a crée avec mon équipe une petit produit permettant d'avoir des infos sur son nurissons h24
                                    dans le cadre du projet 1 de ma première année en computer science à l'uclouvain
                                </p>

                                <p class="dates">Septembre 2023 - Decembre 2023</p>
                            </div>
                       </div>

                </div>
            </section>
        </section>

        <footer>

            <div class="colone">

             <h3>
                 Contacts
             </h3>

             <p>
                noah.moussaoui@Student.uclouvain.be
             </p>

             <p>
                049925002
             </p>

            </div>

            <div class="colone">

                 <h3>
                    Mes langues
                </h3>

                <p>
                    Anglais
                </p>

                <p>
                     Français
                </p>

                <p>
                     Néerlandais
                </p>

        </div>

            <div class="colone">
                <h3>
                   Mes diplomes
                </h3>

                <p>
                  CEB 2017
                </p>

                <p>
                 CE1D 2019
                </p>

                <p>
                 CE2D 2021
                </p>

                <p>
                 CESS 2023
                </p>

            </div>

        </footer>


    </body>

    </html>



