<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Request</title>
    <style>
    @import url('https://fonts.cdnfonts.com/css/popstarregular');
    </style>
    <script src="https://kit.fontawesome.com/3747c4eab5.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house-user" style="color: #6b3df5;"></i></a></li>
            <li><a href="/about"><i class="fa-solid fa-users" style="color: #74C0FC;"></i> </a></li>
            <li><a href="/stats"><i class="fa-solid fa-signal" style="color: #63E6BE;"></i> </a></li>
        </ul>
    </nav>
    <form id="myForm">
        <label for="ville">Ville:</label>
        <input type="text" id="ville" name="ville" value="None">
        <input type="submit" value="Soumettre">
    </form>
</body>
<footer>

    <p>© 2024 Groupe C02. Tous droits réservés</p>
</footer>
</html>