
{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock   %}

{% block body %}
<body>
    <!-- Barre de navigation -->
    <nav>
        <!-- Image à gauche de la barre de navigation -->
        <img src="/static/heart.png" alt="Image" class="image-left">
        <!-- Logo -->
        <a href="/"> <img src="/static/titre.png" alt="Logo" class="navbar-logo"></a>
        <!-- Menu -->
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Team</a></li>
            <li><a href="/stats">Stats </a></li>
            <li><a href="/moon">Moon</a></li>
        </ul>
    </nav>
    <!-- Formulaire -->
    <form id="myForm">
        <!-- Label pour la sélection de la ville -->
        <label for="ville">Ville:</label>
        <!-- Sélecteur de ville -->
        <select id="ville" name="ville">
            <!-- Option par défaut -->
            <option value="None" selected>Choisir une ville</option>
            <!-- Options pour les différentes villes -->
            <option value="Charleroi">Charleroi</option>
            <option value="Bruxelles">Bruxelles</option>
            <option value="Liege">Liege</option>
            <option value="Grobbendonk">Grobbendonk</option>
            <option value="Namur">Namur</option>
            <option value="Beveren">Beveren</option>
            <option value="Courtrai">Courtrai</option>
            <option value="Jambes">Jambes</option>
            <option value="Herzele">Herzele</option>
            <!-- Ajoutez plus d'options ici selon vos besoins -->
        </select>
        <!-- Bouton de soumission -->
        <input type="submit" value="Chercher">
    </form>


 <div class="nbr_rue">
        <ul>
            {% for item in ville_request %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>


</body>
{% endblock  %}
{% block footer %}
{% endblock %}
