<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique de rues par ville</title>
    <!-- Lien vers la bibliothèque Chart.js -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>
    <h1>Graphique de rues par ville</h1>
    <!-- Canvas pour afficher le graphique -->
    <canvas id="myChart" width="200" height="200"></canvas>
    <!-- Lien vers le fichier JavaScript -->
    <script src="../static/graphe.js"></script>
</body>
</html>
